<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="grapple.learn.springboot.druid.mybatis.ip.dao.IpDao">

	<resultMap id="base_colomn" type="grapple.learn.springboot.druid.mybatis.ip.domain.Ip">
		<id property="id" column="id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="requestIp" column="request_ip"/>

	</resultMap>

	<select id="findById" resultMap="base_colomn">
        select id, create_time,update_time,INET_NTOA(request_ip) request_ip from test_ip_storage where id = #{id}
    </select>

	<select id="findAllIps" resultMap="base_colomn">
		select id, create_time,update_time,INET_NTOA(request_ip) request_ip from test_ip_storage
	</select>
</mapper>